body {
  background-color: lightblue;
  color: black;
  font-size: 12px;
  font: Lucida Handwriting;
  text-align: left;
}

h1 {
  color: navy;
  Font-size: 20px;
  font: Georgia
  text-align: center;
}
