body{
  background-color: grey;
  color: white;
  font-size: 16px;
  font-family: Lucida Handwriting;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1{
  color: Maroon;
  font-size: 32px;
  font-family: Garamond;
  text-align: center;
}
