body{
  background-color: grey;
  color: white;
  font-size: 16px;
  font-family: Lucida Handwriting;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1{
  color: Maroon;
  font-size: 32px;
  font-family: Garamond;
  text-align: center;
}

h3{
  color: yellow;
  font-size: 22px;
  font-family: Garamond;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
